{% extends "base.html" %}
{% block title %}Net API{% endblock %}
{% block content %}
<h1>Network API </h1>
    <h2>Introduction</h2>
        <body>
            <p>Welcome to the Network API Tool.</p>
            <p>This tool provides a REST API interface with network devices so that structured data can be returned and queried.</p>
            <p>By exposing REST APIs to network devices, both network and non-network operators can gain access to the configuration and state of the network.</p>
        </body>
    <h2>Usage</h2>
        <p>All REST APIs for this service are documented <a href="/api/ui">here</a></p>
        <p>API documentation is provided using Swagger UI. More information can be found <a href="https://swagger.io/tools/swagger-ui">here</a></p>
    <h3>Project</h3>
        <p>For more information about the overall Network API tool project, visit the <a href="https://github.com/writememe/ansible-mel-meetup-2020">GitHub repository</a></p>
{% endblock %}